/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#favicon{
    fill: white;
}

#container{
    height: calc(100vh - 80px);    
    display: flex;
}

header{
    width: 100%;
    height: 55px;
    background-color: hsl(0, 0%, 0%, 0.5)
    /* position: fixed; */
}

#sidebar{
    min-width: 200px;
    height: 100%;
    background-color: black;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* DEBUG */
    /* position: fixed; */
}

main{
    height: 100%;
    flex-grow: 1;    
    background-color: #111126;
    /* DEBUG */
    /* overflow-y: auto; */
}

footer{
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0%;
    background-color: #383636;
}

/* regole sidebar */
/* #menu{
    padding-left: 10px;
} */

#menu img{
    width: 70%;
    padding: 5px;
    padding-bottom: 20px;
}

ul{
    list-style: none;
}

/* hover a lato  */
#home li{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    font-size: 10px;
    padding-left: 10px;
}

.lateral{
    border-left: 2px solid greenyellow;
}

.white{
    color: white;
}

#white-play{
    color: white;
    padding-left: 10px;
}

#home img{
    width: 15%;
    padding: 0%;
}

a{
    font-size: 10px;
    padding-left: 3px;
    text-decoration: none;
    color: #a7a7a7;
}

h4{
    font-size: 10px;
    padding-bottom: 10px;
}

#home li i{
    font-size: 25px;
    padding-right: 5px;
    color: white;
}

/* parte di sidebar in basso fissa */
#install{
    padding-left: 10px;
    height: 65px;
}

#install span{
    display: flex;
}

#install img{
    width: 15px;
}

#account{
    background-color: #a7a7a7;
    border-radius: 100%;
    height: 15px;
}

hr{
    margin: 10px 0;
}

/* parte centrale che scrolla */
/* header */
header a{
    color: white;
    background-color: black;
    padding: 10px 15px;
    border: 1px solid white;
    float: right;
    margin-top: 10px;
    border-radius: 30px;
}

/* Main */
/* navigazione Main */

#nav-main{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#nav-main li{
    padding: 0 5px;
}

#greenbar{
    border-bottom: 2px solid greenyellow;
}

/* recently played */
.cards{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: calc(100% / 6);
    text-align: center; 
    padding: 5px 0;
    
}

.card img{
    max-width: 65%
}

#soundtrack h1{
    font-size: 20px;
    color: white;
    padding-bottom: 5px;
    padding-left: 24px;
}

.card h4{
    font-size: 12px;
    color: white;
    padding: 5px 0;
}

.card h5{
    font-size: 8px;
    color: #a7a7a7;
}

/* Footer nome e brano */
footer{
    display: flex;
    justify-content: space-between;
}

#song{
    display: flex;
    align-items: center;
}

#album{
    display: flex;
    padding-left: 10px;
    padding-right: 20px;
}

#song img{
    width: 25px;
    height: 25px;
}

#album li{
    font-size: 10px;
    padding-left: 3px; 
    color: #a7a7a7;   
}

ul #sinister{
    color: white;
    font-size: 10px;
}

#song i{
    color: #a7a7a7;
    padding-right: 5px;
}


/* FOOTER player */
#player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* play/stop */
#play i{
    color: white;
    padding: 5px;
}


/* tempo canzone */
.songbar #time{
    width: 200px;
    height: 2px;
    padding: 0;
    background-color: #a7a7a7;

}

.songbar #min{
    width: 40px;
    height: 2px;
    padding: 0;
    background-color: #e9e0e0;
}

.songbar{
    display: flex;
    color: #a7a7a7;
    font-size: 10px;
    align-items: center;
}

.songbar div{
    padding: 0 10px;
}


/* volume */
#volume{
    display: flex;

}

#vol-tot{
    width: 100px;
    height: 2px;
    padding: 0;
    background-color: #a7a7a7;
}

#vol{
    width: 20px;
    height: 2px;
    padding: 0;
    background-color: #e9e0e0;
}

.songbar i{
    padding: 5px;
    color: white;
}